body{
    background-color: #E4DDE4;
}
nav{
    text-align: center;
    font-weight: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: 45px;
}
h3{
    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;
}
h4{
    font-family: Verdana;
    font-weight: bold;
    margin-top: -10px;
}
table{
    width: 100%;
}
th{
    height: 10px;
}
.padding{
    padding-left:70px; 
}
p{
    margin: 2px
}